
.card.rating .card__title,
.card.awards .card__title {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.card.rating .card__subtitle {
  display: flex;
  align-items: center;
}

.card__avatars {
  display: inline-flex;
  margin-right: 1rem;
}

.card__avatars img {
  border: solid 1px var(--color-white);
  border-radius: 50%;
  width: 1.5rem;
  aspect-ratio: 1/1;
  box-shadow: -5px 4px 14px rgba(151, 151, 151, 0.28);
}

.card__avatars img:not(:first-child) {
  margin-left: -6px;
}

a.link__arrowed {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

a.link__arrowed:hover {
  color: var(--color-primary);
}

a.link__arrowed:hover svg path {
  stroke: var(--color-primary);
}

.prime {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
}
