
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  width: 90%;
}

.hero__title {
  font-size: 0.75rem;
  background-color: var(--color-primary-10);
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  color: var(--color-primary);
  padding: 0 2rem;
  height: 2rem;
  margin-top: 1.5625rem;
}

.hero__subtitle {
  font-size: 3.5rem;
  line-height: 1.1;
  margin: 1.5rem 0;
}

.hero__description {
  font-size: 1.125rem;
  margin-bottom: 2.5rem;
}

.hero__cta {
  display: flex;
  gap: 1rem;
}