
.team {
  margin-bottom: 5rem;
}

.team__content {
  width: 28.125rem;
  margin: 0 auto;
  text-align: center;
}

.team__tabs {
  background-color: var(--color-primary-10);
  width: 28.125rem;
  margin: 2.5rem auto;
  display: flex;
  border-radius: 1rem;
  padding: 0.5rem;
}

.team__tab {
  align-items: center;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  flex-grow: 1;
  height: 3.5rem;
  justify-content: center;
  padding: 0 2rem;
}

.team__tab:hover {
  color: var(--color-primary);
}

.team__tab--active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.team__members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.team__member-card {
  text-align: center;
  border: solid 1px #f3f3f3;
  border-radius: 1rem;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  padding: 2rem;
}

.team__member-card:hover {
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.24);
  transform: translate(-4px, -4px);
}

.team__member-picture {
  background-color: var(--color-primary-10);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 142px;
}

.team__member-bluecheck {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  z-index: 1;
}

.team__member-avatar {
  display: inline-block;
  position: relative;
}

.team__member-name {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px){
  .team__members{
    display: flex;
    flex-direction: column;
  }
}