
.community {
  background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #f1f6fd 20.5%, #f1f6fd 58.57%, #ffffff 100%);
  padding: 5rem 0;
  margin-bottom: 7.5rem;
}

.community__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 2.5rem;
}

.community__content {
  text-align: center;
  width: 28rem;
  margin: 0 auto 4rem;
}

.community__card {
  padding: 2.5rem 4rem 2.5rem 2.5rem;
  background-color: var(--color-white);
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.community__card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 66px;
  aspect-ratio: 1/1;
  border-radius: 1.5rem;
}